{% extends 'home/base.html' %}

{% block content %}
{% load static %}

<div class="container bt-50px" style="padding-top: 50px; max-width: 1100px;">   
    <div class="row">        
  <div class="col-3">
    <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
      <nav class="nav nav-pills flex-column">
        <a class="nav-link" href="#item-1">Юнешество</a>
      
        <a class="nav-link" href="#item-2">Учёба в институте</a>
        <a class="nav-link" href="#item-3">Первые успехи</a>
        <a class="nav-link" href="#item-4">Стихи</a>
        <a class="nav-link" href="#item-5">Награды</a>
        <a class="nav-link" href="#item-6">Книги Н.П.Шилова</a>
      </nav>
    </nav>
  </div>
 
  <div class="col-9">
    <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
      <div id="item-1">
        <div class="" style="max-width: 800px;">
            <div class="row">
              <div class="col">
                <img src="{% static 'home/pisatel.jpg' %}" class="img-fluid rounded-start" style="max-width: 800px; height: auto;" alt="...">
              </div>
              
            </div>
            
            <hr>
          </div>
        <!-- <img src="img/загружено.jfif" class="" style="width: 150px; height: auto;" alt="...">
        <p>...</p> -->
      </div>

      <div class="infor" style="padding-top: 25px;">
      <div id="item-1">
        <h5>Юнешество</h5>
        <p align="justify">Родился Николай Петрович в городе Щучье Курганской области. Вырос в рабочей семье. Отец Петр Михайлович и мать Антонина Михайловна родом из деревень Шумихинского района Курганской области. Вырастили троих сыновей. Двое стали рабочими, а один - ученым и поэтом.</p>
        
        <p align="justify">С малых лет у Коли был интерес к литературе. Когда он был еще в восьмом классе, его стихи были впервые опубликованы в местной  газете. Позже он писал и прозу, и пьесы, и стихи для взрослых. Но чаще всего стихи для взрослых оставались ненапечатанными.</p>
      </div>
      <div id="item-2">
        <h4>Учёба в институте</h4>
        <p align="justify">После окончания восьмого класса Николай  поехал в Челябинск поступать в техническое училище.  Его не приняли по зрению. Тогда он поступил в культпросветучилище. В 1966 году Николай с отличием закончил учебу и был направлен в Ленинградский институт культуры имени Н.К.Крупской. В Ленинграде он не мог пропустить  те возможности, который давал этот город: библиотеки, театры, музеи...  Продолжал и в студенческие годы писать стихи, печатался в молодежных газетах и журналах. После первого курса со студенческим отрядом он оказался на строительстве газовой компрессорной станции в Южном Казахстане. После второго курса с небольшим студенческим отрядом побывал в Восточной Германии. Там его  даже наградили за хорошую работу. Но главной наградой было знакомство со знаменитыми немецкими городами: Дрезденом, Лейпцигом, Веймаром, Берлином,  их музеями, театрами.</p>
      
        <p align="justify">Время учебы в институте было для Николая Шилова очень результативным. В то время в институте преподавали очень хорошие специалисты,  такие, как писатель Игорь Смольников и другие.  Николай Петрович приобретал театральный опыт. Вместе с однокурсниками он  организовал на курсе свой театр. Поставил пьесу Мережковского «Павел I», что получило неодобрение парткома и деканата. Для того чтобы поставить «Павла I»,  ощутить дух той эпохи, Шилов побывал в Михайловском замке, где  закончилась жизнь царя.</p>
          
        <p align="justify">Николай Петрович был постоянным читателем институтской и театральной библиотек.  С тех пор у него особое отношение к профессии библиотекаря. Он открыл для себя  поэзию  Серебряного века. Особое увлечение  Шилова - стихи Блока.  Почти весь третий том  поэта он  знал наизусть.</p>

        <p align="justify">После окончания института Николай Петрович вернулся в Челябинск на преподавательскую работу в то самое училище, которое заканчивал сам. Но сначала год прослужил в армии, где работал библиотекарем! В училище Николай Петрович организовал  «Ночной театр» (репетировали по ночам). Играли в спектаклях и преподаватели, и студенты. Николай Петрович не только режиссировал, но и писал сценарии, готовил концерты.</p>
      </div>
      <div id="item-3">
        <h4>Первые успехи</h4>
        <p align="justify">С 1970 года Шилов стал заниматься в литературном объединении «Экспресс»  (Дворец железнодорожников). Там  он познакомился  с   руководителем объединения  и детским поэтом Львом Рахлисом.  Несмотря на разницу в возрасте в десять лет, началась дружба  на долгие годы, которая сыграла в судьбе Николая Петровича очень большую роль. В 1982 году Николай Петрович перешел на работу в Челябинский институт культуры, стал работать вместе с Рахлисом.  Лев Яковлевич уже  заявил себя как детский поэт,  был автором книги «Шишел-Мышел», публикаций в газетах. Рахлис - человек широких интересов, большой культуры, богатого языка. Николай Петрович много получил, общаясь с  другом.   Объединял их интерес к поэзии, к детям, к театру, культуре.</p>
          
        <p align="justify">Параллельно в Челябинском университете Шилов  создает очень интересный студенческий театр «Софит», который за десять лет существования не раз был победителем в различных смотрах и конкурсах.</p>
          
        <p align="justify">Николай Петрович вместе с Львом Яковлевичем написали первую совместную книжку для  воспитателей детских садов и учителей начальных классов «Цветик-семицветик» (1992). Потом появились «Здравствуй, бабушкин сундук!», «Школа Винни-Пуха» и другие  Все, кто работает с детьми, сразу оценили достоинства сценариев игр, конкурсов, шоу, придуманных авторами - выдумщиками, фантазерами. Позже эти книги вошли в  их сборник  «Кит по имени «Н», Кит по имени «В»,  Кит по имени «Ф»</p>
      </div>
     
      <div id="item-4">
        <h4>Стихи</h4>
        <p align="justify">Стихи Николая Шилова, как всякие хорошие стихи, интересны и маленьким детям, и их родителям, бабушкам и дедушкам. Поэт пишет книги для дружных взрослых и детей. Их хорошо читать вслух в семье.  Стихи  легко читаются, легко запоминаются. Строчки поэта заставляют детей думать  нестандартно, фантазировать, радоваться неожиданным поворотам,  юмору, разнообразию возможностей языка. А как неожиданны и интересны названия его книг!</p>
          
        <p align="justify">Не случайно, в одном из интервью Николай Петрович сказал: «Смысл детской поэзии не в морализаторстве, а в том, чтобы пройти языковую школу. Почувствовать язык - образный и вкусный». Книги Николая  Петровича и есть эта самая языковая школа, школа словотворчества.</p>

        <p align="justify">В 1996 - 2000 годах в Челябинске издавался  детский журнал «Тропинка», где главным редактором была Северина Школьникова.  Заместителем ее и ведущим рубрики для самых маленьких - «Детский сад» был Николай Петрович. В «Тропинке» публиковались стихи Шилова и много произведений других авторов, с которыми Николай Петрович знакомил маленьких читателей. К сожалению, «Тропинка» перестала  издаваться в связи с отъездом  из страны главного редактора и организатора журнала.</p> 
        
        <p align="justify">Стихотворения Николая Петровича печатались в минском журнале  «Кважды-Ква», в американской газете «Русский Дом», которую издает в Атланте Лев Рахлис. Поэт печатался в екатеринбургских журналах «Воздушный корабль» (для чтения в самолетах), в компьютерном журнале «Лэп-Топ», в челябинских журналах «Наполеон», «Луч».</p>

        <p align="justify">Первый сборник стихов Шилова «Доктор Муха – Горло-Нос» вышел в  Челябинске в 1997 году. Редактором сборника была наша землячка  - детская поэтесса Нина Пикулева. Через два года  Николай Петрович выпустил  второй свой сборник - «Самсусам». В него вошло сорок  стихотворений.  Это целое поэтическое богатство: есть стихи, написанные с юмором, но заставляющие задуматься над серьезными вещами («Думы», «Лето», «Заботы»...)</p>
          
        <p align="justify"> А есть не просто стихотворения, а стихи-загадки, стихи-игры, стихи -считалки... Много стихотворений Николая Петровича посвящено природе, погоде,  деревьям, насекомым.  Может быть потому, что он сам  замечательный садовод, в его стихах такие тонкие и точные наблюдения за всем, что растет и живет на земле: «Божья коровка», «Букашки», «Мухи»,  «Рыбка по имени Карась»...</p>
        
        <p align="justify">В 2004 году  в Академии культуры и искусства вышел сборник Николая Петровича «Поросенок, который был собакой», где впервые для ребят он поместил и прозаическое произведение, название которого  стало названием сборника. Впервые в сборнике помещена большая серьезная статья о творчестве поэта.</p>

        <p align="justify">Особенно хорошо изданы две книги Николая Петровича:   «Посвящение в лягушки. Стихи для детей и взрослых» и «Лето в банках. Стихи для детей» (издательство «АвтоГраф») с яркими рисунками художника Юрия Попова, в твердом переплете. «Посвящение в лягушки» (2001)  открывается словами: «В этой книге - собственные произведения автора, а также переводы с мушиного, лягушачьего, сорочьего, кошачьего, собачьего, лошадиного и прочих языков»...  Поэт заставляет детей удивляться красоте и многообразию мира. И книга «Лето в банках» (2006) написана в лучших традициях автора. Не случайно программа летнего чтения екатеринбургских библиотек открывается  одноименным стихотворением Николая Петровича  и созвучна по названию «Лето в рифмах».</p>

        <p align="justify">Появление  этих книг  стало еще одним доказательством  роста мастерства  поэта. И тем, как качественно  меняются издания книг Николая Петровича. Такие книги не стыдно послать на столичные и международные книжные выставки.  Много его стихов стали песнями. Очень  хорошую музыку на слова поэта сочинила челябинский композитор Елена Поплянова. Композитор Анатолий Кривошей написал музыку к песням Николая Шилова  к спектаклям «Синяя птица»  и «Гарри Поттер». Шилов - частый гость в детской аудитории. Он прекрасно общается с детьми. Встречи с ним  для детей - праздники.</p>
      </div>

      <div id="item-5">
        <h4>Награды</h4>
        <p align="justify">В день  рождения Николая Петровича  (12 апреля  2000 года) его приняли в Союз писателей России</p> 
        <p align="justify">Николай Петрович - дипломант Всероссийской  литературной  премии имени Льва Толстого (2002), лауреат премии имени Максима Клайна (2001), лауреат городской премии «Золотая лира» (2007). С 1995 года  Николай Шилов - Заслуженный работник культуры России. При всем при этом - Николай Петрович удивительно скромный человек, добрый, простой в обращении. Он  не умеет «пробивать» свои книги,  но благодаря его помощи выходят книги его друга - Рахлиса: «Подарили рыбке зонтик», «На зеленом острове Борнео»...</p>  
          
      </div>
      <div id="item-6">
        <h4>Книги Н.П.Шилова</h4>
        <ul>
          <li>Доктор Муха – Горло-Нос. Челябинск: 1997</li>
          <li>Самсусам. Челябинск, издательство Т.Лурье, 1999</li>
          <li>Страшный зверь. Челябинск, издательство Т.Лурье, 2000</li>
          <li>Безусый Самсусам. Челябинск, издательство Т.Лурье, 2001</li>
          <li>Посвящение в лягушки. Челябинск, «АвтоГраф», 2001, 2004</li>
          <li>Поросенок, который был собакой. Челябинск: ЧГАКИ, 2004</li>
          <li>Три дождя тому назад. Челябинск, издательство «Татьяна Лурье», 2006</li>
          <li>Лето в банках: Стихи для детей. Челябинск, «АвтоГраф», 2006</li>
          <li>Диалоги Петрова. Челябинск, издательство «Татьяна Лурье», 2007</li>
          <li>Если падаешь с Луны. Челябинск, издательство Марины Волковой, 2008</li>
        </ul>  
      </div>
      
      <p align="right">Весь текст взят на сайте http://www.kultura.kurganobl.ru/3639.html</p>
      
      
    </div>
    </div>
  </div>
</div>
</div>


<br>
<!-- <section>
    <div class="container justify-content-center bt-50px" style="height: 700px;">
        <div class="row justify-content-center">
        <div class="col-8 border justify-content-center">
            <form>
                <fieldset disabled>
                  <legend>Disabled fieldset example</legend>
                  <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">Disabled input</label>
                    <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
                  </div>
                  <div class="mb-3">
                    <label for="disabledSelect" class="form-label">Disabled select menu</label>
                    <select id="disabledSelect" class="form-select">
                      <option>Disabled select</option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="disabledFieldsetCheck" disabled>
                      <label class="form-check-label" for="disabledFieldsetCheck">
                        Can't check this
                      </label>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </fieldset>
              </form>
        </div>
        </div>
    </div>
</section> -->

<hr>
<div class="container" style="max-width: 700px;">   
    <div class="row">        
    <div class="col-1"></div>
    <div class="col-11 border rounded-4" style="background-color: #f5f5f5;">
        <h2>Комментарии</h2>
    <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
            
        
        <div class="" style="max-width: 600px;">  
            {% if error %}
                <div class="alert alert-danger" role="alert">
                {{ error }}
                </div>
            {% endif %}
            <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="memo">Описание</label>
                <textarea name="memo" class="form-control" id="memo" ></textarea>
            </div>
            <br>
            {% if user.is_authenticated %}
            <button type="submit" class="btn btn-primary">Save</button>
            
            <a href="{% url 'currentblog' %}" class="btn btn-outline-primary">Мои записи</a>  
            
            {% else %}
            <button type="submit" class="btn btn-primary" disabled>Save</button>
            <a href="{% url 'currentblog' %}" class="btn btn-outline-primary" disabled>Мои записи</a>  
            {% endif %}
            </form>
            
        <hr>
        
            
        {% for comment in comments %}
            <div class="row" style="padding: 10px;">
            <div class="col border border-1 bg-white rounded-3" style="padding-top: 5px; padding-bottom: 5px; padding-left: 8px; padding-right: 8px;">
                <img src="{% static 'home/avatar.png' %}" class="rounded float-start" style="width: 35px; height: 35px;" alt="">
        
                <h2 class="fs-5" style="padding-top: 5px; padding-left: 50px;">{{ comment.user }}</h2>
                <hr>
                <!-- //////////////////////
                <div class="text-center">
                <img src="img/test3.jpeg" class="rounded" style="height: 350px;" alt="...">
                </div>
                ////////////////////// -->
                <div class="">
                <div class="card-body">
                    <h5 class="card-title">{{ comment.title }}</h5>
                    <p class="card-text">{{ comment.memo }}</p>
                    <p class="card-text"><small class="text-muted">{{ comment.created|date:'M j Y' }}</small></p>
                </div>
        
        
        
                </div>
        
            </div>
            </div>
            {% endfor %}
            
        </div> 
    </div>
    </div>
</div>
</div>


{% endblock %}